@tailwind base;
@tailwind components;
@tailwind utilities;
/* In globals.css */
.text-gradient {
  background: linear-gradient(90deg, #06b6d4, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
}